#error-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: thick solid red;
  border-radius: 10px;
  color: red;
  font-weight: bold;
  text-align: center;
  margin: 20px 50px;
}

#error-box.hidden {
  display: none;
}

#error-box img {
  height: 25px;
  width: auto;
  margin: 5px;
}