header { 
  height: 400px;
  background-color: darkgoldenrod;
  color: #ffffff;
  position: relative;
  margin-top: 120px;
}

.absolute { 
  position: absolute;
  text-align: center;
  width: 24%;
  top: 4%;
  margin-left: 38%
}

