nav {
  position: fixed;
  height: 120px;
  left: 0; 
  right: 0;
  top: 0;
  z-index: 2;
  background-color: #4056A1;
  color: white;
  padding: 1em;
 }

.logo { 
  font-family: 'Bungee', sans-serif;
}

nav div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tweetButton { 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

nav button {
  font-family: sans-serif;
  background: transparent;
  border: 0;
  color: white;
}

nav button:hover { 
  cursor: pointer;
}

nav div img { 
  height: 20px;
  width: auto;
  transform: rotate(90deg);
  mix-blend-mode: multiply;
}


/*
 * Adjusted layout for mobile devices
 */

@media only screen and (max-width: 420px) {
  nav { 
    font-size: smaller;
    height: 90px;
  } 
}