nav { 
  position: fixed;
  height: 120px;
  left: 0; 
  right: 0;
  top: 0;
  z-index: 2;
  background-color: #4056A1;
  color: white;
 }

.logo { 
  font-family: 'Bungee', sans-serif;
}

/* nav * { 
  position: absolute;
  bottom: 0;
  margin: 1.5em;
} */

nav div {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav span {
  /* margin-bottom: 1em;
  margin-left: 1em; */
  margin: 1em;
}

.tweetButton { 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 1em;
  /* margin-bottom: 1em;
  margin-right: 1em; */
}

nav button {
  font-family: sans-serif;
  background: transparent;
  border: 0;
  color: white;
}

nav button:hover { 
  cursor: pointer;
}


nav div img { 
  height: 20px;
  width: auto;
  transform: rotate(90deg);
  mix-blend-mode: multiply;
}


@media only screen and (max-width: 420px) {
  nav { 
    font-size: smaller;
    height: 90px;
  } 

  nav div {
    height: 90px;
  }

  
}