.tweet { 
  margin-top: 60px;
  margin-bottom: 60px;
  border: thick solid darkgrey;
  padding: 15px;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userIcon { 
  display: flex;
  align-items: center;
}


.avatar { 
  height: 50px;
  padding-right: 10px;
}

.username {
  visibility: hidden;
}

.tweetContent { 
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: thick solid darkgrey;
  overflow-wrap: break-word;
}

footer { 
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 17px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.tweet:hover { 
  box-shadow: 10px 10px lightgrey;
}

.tweet:hover .username { 
  visibility: visible;
  font-weight: bold;
  color: lightgray;
}